.header h2 {
  position: relative;
  display: flex;
  width: 100%;
  font-weight: 600;
  transition: 0.5s;
  margin-bottom: 20px;
  border-bottom: solid 2px transparent;
  border-bottom: solid 2px var(--border-gray);
  padding-bottom: 20px;
}

.projects:hover .header h2 {
  border-bottom: solid 2px var(--main-white);
}
.cardContainer {
  margin: auto;
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

@media (max-width: 650px) {
  .projects h2 {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .cardContainer {
    flex-direction: column;
  }
}
