.container{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: 0.5s;
}
.container:hover{
    color: var(--main-white);
}

span:hover .icon {
    transform: scale(1.05);
}

.container h4{
    font-weight: 600;
    font-size: 16px;
}
.container span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}